<!-- <div class="column" *ngFor="let column of columns">
    <app-article *ngFor="let article of column" [Article]="article"></app-article>
</div> -->

<ngx-masonry [options]="masonryOptions" [updateLayout]="updateMasonryLayout">
    <app-article (imageLoaded)="updateMasonryLayout = !updateMasonryLayout" ngxMasonryItem  class="masonry-item" *ngFor="let article of articles" [Article]="article"></app-article>
    <app-articleplaceholder [type]="'articulo'" ngxMasonryItem  class="masonry-item" *ngFor="let placeholder of placeholders">a</app-articleplaceholder>
</ngx-masonry>