<div class="Listheader mb1">
    <app-search-input (onConfirm)="search($event)"></app-search-input>
    <app-icon class="editIcon ml1" [iconName]="'mdi:calendar'" (click)="showCalendar()" *ngIf="mode == 'news'" tooltip="Filtrar por fecha" placement="top" show-delay="500">
    </app-icon>
</div>

<h5 class="dafaultMessage" *ngIf="!!!newsList.length && !calendarMode">No hay noticias, agrega la primer noticia</h5>

<div *ngIf="calendarMode" >
    <ejs-calendar (change)="filtrarPorFecha($event)" [max]='maxDate' [value]="selectedDate" ></ejs-calendar>
</div>

<ng-scrollbar *ngIf="!calendarMode">
    <div infiniteScroll
        (scrolled)="onScroll($event)"
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50" 
        [scrollWindow]="false">
        <div class="scroll">
            <div class="newsEditable" *ngFor="let news of newsList">
                <h4 class="title">{{news.title}}</h4>
                <div class="iconsContainer">
                    <span class="separator"></span>
                    <app-icon class="editIcon" [iconName]="'mdi:pencil'" (click)="editNews(news.id)"></app-icon>
                    <app-icon class="editIcon" [iconName]="'mdi:trash'" (click)="deleteNews(news.id)"></app-icon>
                </div>
            </div>
        </div>
        
    </div>
</ng-scrollbar>