<div class="filters">
    <div class="leftColumm">
        <div class="formField">
            <span class="label">Fecha</span>
            <div class="formInput">
                <app-icon [iconName]="'mdi:calendar'"></app-icon>
                <span class="mr.5 dateText" (click)="initialDateDrop = !initialDateDrop; finalDateDrop = false" [ngClass]="{ 'active': initialDateDrop }">12/12/2018</span>
                <span class="mr.5">-</span>
                <app-icon [iconName]="'mdi:calendar'" ></app-icon>
                <span class="dateText" (click)="finalDateDrop = !finalDateDrop; initialDateDrop = false" [ngClass]="{ 'active': finalDateDrop }">12/12/2018</span>
                <div class="drop" *ngIf="initialDateDrop">
                    <ejs-calendar></ejs-calendar>
                </div>
                <div class="drop" *ngIf="finalDateDrop">
                    <ejs-calendar></ejs-calendar>
                </div>
            </div>
        </div>
        <div class="formField">
            <span class="label">Pcrc</span>
            <div class="formInput"><app-drop-down [textoInicial]="'Cliente'" [textField]="'cliente'" [values]="dataPrueba"></app-drop-down></div>
        </div>
        <div class="formField">
            <span class="label">Subcategoria</span>
            <div class="formInput"><app-drop-down [textoInicial]="'Cliente'" [textField]="'cliente'" [values]="dataPrueba"></app-drop-down></div>
        </div>
        <div class="formField">
            <span class="label">Director</span>
            <div class="formInput"><app-drop-down [textoInicial]="'Cliente'" [textField]="'cliente'" [values]="dataPrueba"></app-drop-down></div>
        </div>
        <div class="formField">
            <span class="label">Coordinador operaciones</span>
            <div class="formInput"><app-drop-down [textoInicial]="'Cliente'" [textField]="'cliente'" [values]="dataPrueba"></app-drop-down></div>
        </div>
    </div>
    <div class="rightColumm">
        <div class="formField">
            <span class="label">Cliente</span>
            <div class="formInput"><app-drop-down [textoInicial]="'Cliente'" [textField]="'cliente'" [values]="dataPrueba"></app-drop-down></div>
        </div>
        <div class="formField">
            <span class="label">Categoria</span>
            <div class="formInput"><app-drop-down [textoInicial]="'Cliente'" [textField]="'cliente'" [values]="dataPrueba"></app-drop-down></div>
        </div>
        <div class="formField">
            <span class="label">Articulo</span>
            <div class="formInput"><app-drop-down [textoInicial]="'Cliente'" [textField]="'cliente'" [values]="dataPrueba"></app-drop-down></div>
        </div>
        <div class="formField">
            <span class="label">Gerente</span>
            <div class="formInput"><app-drop-down [textoInicial]="'Cliente'" [textField]="'cliente'" [values]="dataPrueba"></app-drop-down></div>
        </div>
        <div class="formField">
            <span class="label">Lider</span>
            <div class="formInput"><app-drop-down [textoInicial]="'Cliente'" [textField]="'cliente'" [values]="dataPrueba"></app-drop-down></div>
        </div>
    </div>
</div>
<div class="dash">
</div>