<header class="header">
    <app-icon [iconName]="category.icon" *ngIf="!editCategoryNameMode"></app-icon>
    <h4 class="title" (click)="seleccionarCategoria()" [ngClass]="{'leaftCategory': !!!category.subcategories.length}">{{category.name}}</h4>
    <app-icon class="dropDownIcon" [iconName]="desplegado ? 'mdi:arrow-up-drop-circle-outline':'mdi:arrow-down-drop-circle-outline'" (click)="desplegado = !desplegado" *ngIf="!!category.subcategories.length"></app-icon>
</header>
<div class="body" *ngIf="desplegado">
    <app-categorie *ngFor="let subcategory of category.subcategories" [category]="subcategory" (onCategorySelected)="seleccionarCategoria($event)"> </app-categorie>
</div>