<ng-masonry-grid 
    [masonryOptions]="{ transitionDuration: '0s', gutter: 16, horizontalOrder: true, percentPosition: true}"
    [useAnimation]="true"
    [useImagesLoaded]="true">

    <ng-masonry-grid-item class="app-article" *ngFor="let article of articles" [Article]="article">

    </ng-masonry-grid-item>
    <ng-masonry-grid-item class="app-article" *ngFor="let article of articles" [Article]="article">

    </ng-masonry-grid-item>
    <ng-masonry-grid-item class="app-article" *ngFor="let article of articles" [Article]="article">

    </ng-masonry-grid-item>
    <ng-masonry-grid-item class="app-article" *ngFor="let article of articles" [Article]="article">

    </ng-masonry-grid-item>
    <ng-masonry-grid-item class="app-article" *ngFor="let article of articles" [Article]="article">

    </ng-masonry-grid-item>
    <ng-masonry-grid-item class="app-article" *ngFor="let article of articles" [Article]="article">

    </ng-masonry-grid-item>
</ng-masonry-grid>