<div class="verticalColumn">
    <h3 class="columnTitle">Usuarios</h3>
    <app-users-editor-list [users]="users" (onNewUser)="onNewUser()" (onSelectedUser)="onSelectedUser($event)"></app-users-editor-list>
</div>
<div class="verticalColumn" *ngIf="selectedUser || newUserMode">
    <div class="userCard mb2">
        <div class="cardTitle">
            <h2 class="title">{{username}}</h2>
        </div>
        <div class="cardRow">
            <div class="cardRowTitle">Nombre de usuario</div>
            <div class="cardRowsEditionArea">
                <div class="separador"></div>
                <input type="text" class="cardRowInput" placeholder="Nombre de usuario" [(ngModel)]="username">
            </div>
        </div>
        <div class="cardRow">
            <div class="cardRowTitle">Rol</div>
            <div class="cardRowsEditionArea">
                <div class="separador"></div>
                <app-drop-down [values]="roles" (onValueSelected)="userRol = $event" [textoInicial]="userRol ? userRol : 'Seleccionar'"></app-drop-down>
            </div>       
        </div>
        <div class="cardRow" *ngIf="newUserMode" >
            <div class="cardRowTitle">Password</div>
            <div class="cardRowsEditionArea">
                <div class="separador"></div>
                <input type="password" class="cardRowInput" placeholder="Password" [(ngModel)]="passWord">
            </div>
        </div>
        <div class="cardRow vertical">
            <h4 class="mt1 mb.5">{{allowLinesMode ? 'Habilitar linea' : 'Lineas habilitadas'}}</h4>
            <app-lines-allowed [lines]="allowedLines" *ngIf="allowedLines.length && !allowLinesMode" (onSubLineDeleted)="sublineaEliminada($event)"></app-lines-allowed>
            <app-lines-allowed-editor [lines]="linesNotAllowed" (onSubLineAllowed)="sublineaHabilitada($event)" *ngIf="allowLinesMode"></app-lines-allowed-editor>
            <app-button [buttonText]="'Habilitar Linea'" (click)="allowLinesMode = true" *ngIf="!allowLinesMode"></app-button>
            <app-button [buttonText]="'confirmar'" (click)=" confirmSublinesToAllow(); allowLinesMode = false" *ngIf="allowLinesMode && !newUserMode"></app-button>
        </div>

        <div class="cardTitle" *ngIf="username && passWord && userRol">
            <app-button [buttonText]="'Confirmar'" (click)="confirmarCambios()"></app-button>
        </div>
    </div>
</div>