<div class="articleTitle">
    <input class="articleTitle_input" type="text" placeholder="Titulo del articulo" #articleTitle>
</div>
<div>
</div>
<div class="articleEditor">
    <app-rich-text-editor></app-rich-text-editor>
</div>
<div class="articleOps">
    <ng-scrollbar>
<div class="scroll">    
    <input type="text" #tagstext class="tagEditor mb1" placeholder="Tag1,Tag2" (change)="addTag($event.target.value)" (keyup)="addTag($event.target.value)" spellcheck="false">
    <div class="tagList mb1">
        <div class="tag" *ngFor="let tag of tags">
            <span>{{tag}}</span>
        </div>
    </div>
    <h4 *ngIf="articleToEdit else singuardar">Estado: {{articleToEdit.state == 'archived' ? 'Guardado en borradores' : 'Publicado'}}</h4>
    <ng-template #singuardar><h4>Estado: Sin guardar</h4></ng-template>
    <app-spinner *ngIf="addArticleSpinner"></app-spinner>
    <app-button [buttonText]="'Publicar'" class="mb.5" (click)="saveArticle()" [iconName]="'mdi:publish'" *ngIf="!addArticleSpinner"></app-button>
    <app-spinner *ngIf="updateArticleSpinner"></app-spinner>
    <app-button class="mb2" [buttonText]="'Guardar como borrador'" (click)="saveAsDraft()" [iconName]="'mdi:archive'" *ngIf="!updateArticleSpinner"></app-button>
    <div *ngIf="articleToEdit">
        <h4>{{articleToEdit.attached.length}} Archivos adjuntos</h4>
        <app-file-prev class="mb.5" *ngFor="let file of articleToEdit.attached" [fileName]="file" [articleId]="articleToEdit.id" (onFileDeleted)="fileDeleted(file)"></app-file-prev>
    </div>

    <ejs-uploader [autoUpload]="false" *ngIf="articleToEdit" (selected)="onFileSelect($event)" (success)="onFileUploaded($event)" [showFileList]="true"  [asyncSettings]='path' #defaultupload [multiple] = 'false'>
        <ng-template #template let-data="">
            <div class="fileStatus">
                <app-file-prev class="mb.5" [fileName]="status" [articleId]="articleToEdit.id" [mode]="'notDelete'" *ngIf="status != 'Cargado con exito'"></app-file-prev>
                <span class="success" *ngIf="status == 'Cargado con exito'">
                    Agregado con exito ✔️
                </span>
            </div>
        </ng-template>
    </ejs-uploader>
</div>
</ng-scrollbar>
</div>
<jw-modal *ngIf="sinContenidoModalOpen" (onClose)="sinContenidoModalOpen = false">    
    <app-card>
        <h4>Debes proporcionar el contenido del articulo y un titulo</h4>
    </app-card>
</jw-modal>