<div class="articleTitle">
    <input class="articleTitle_input" type="text" placeholder="Titulo del articulo" #articleTitle>
</div>
<div>
</div>
<div class="articleEditor">
    <app-rich-text-editor ></app-rich-text-editor>
</div>
<div class="articleOps">
    <app-text-input [placeholder]="'#Tag'" [cancelButton]="false" class="mb1" (onConfirm)="addTag($event)"></app-text-input>
    <div class="tagList mb1">
        <div class="tag" *ngFor="let tag of tags">
            <span>#{{tag }}</span>
            <app-icon [iconName]="'mdi:close-circle-outline'" (click)="deleteTag(tag)"></app-icon>
        </div>
    </div>
    <app-button [buttonText]="'Publicar'" class="mb.5" (click)="saveArticle()"></app-button>
    <app-button class="mb2" [buttonText]="'Archivar'"></app-button>
    <div *ngIf="articleToEdit">
        <h4>Archivos adjuntos</h4>
        <app-article-prev *ngFor="let file of articleToEdit.attached" [fileName]="file" [articleId]="articleToEdit.id"></app-article-prev>
    </div>

    <div *ngFor="let file of newFiles">
        {{file}}
    </div>
    <ejs-uploader [asyncSettings]='path' #defaultupload [multiple] = 'false' (success)="onFileSelected($event)"></ejs-uploader>
</div>