<header class="main_header">
    <i class="material-icons logo" (click)="populateArticles()">photo_size_select_actual</i>
    <app-search-box></app-search-box>    
    <a class="tab" routerLink="/app/explore">
        <i class="material-icons">category</i>
        <span>Explorar</span>
    </a>
    <a class="tab" routerLink="/app/news">
        <i class="material-icons">new_releases</i>
        <span>Noticias</span>
    </a>
    <a class="tab" routerLink="/app/explore">
        <i class="material-icons">stars</i>
        <span>Favoritos</span>
    </a>
    <a class="tab" routerLink="/app/edit">
        <i class="material-icons">edit</i>
        <span>Edicion</span>
    </a>
    <span class="separator"></span>
    <app-acount-menu></app-acount-menu>
</header>