<i class="material-icons logo">photo_size_select_actual</i>
<app-search-box></app-search-box>
<a class="tab" routerLink="/app/explore">
    <app-icon [iconName]="'mdi:file-tree'"></app-icon>
    <span>Explorar</span>
</a>
<a class="tab" routerLink="/app/news">
    <app-icon [iconName]="'mdi:alert-decagram'"></app-icon>
    <span>Noticias</span>
</a>
<a class="tab" routerLink="/app/favorites">
    <app-icon [iconName]="'mdi:cards-heart'"></app-icon>
    <span>Favoritos</span>
</a>
<a class="tab" routerLink="/app/edicion">
    <app-icon [iconName]="'mdi:pencil'"></app-icon>
    <span>Edicion</span>
</a>
<a class="tab" routerLink="/app/newseditor">
    <app-icon [iconName]="'mdi:newspaper-plus'"></app-icon>
    <span>Crear Noticia</span>
</a>
<span class="separator"></span>
<a routerLink="/app/users" class="mr1.5">
    <app-icon [iconName]="'mdi:account-settings-variant'"></app-icon>
</a>
<a routerLink="/app/admin" class="mr1.5">
    <app-icon [iconName]="'mdi:settings'"></app-icon>
</a>

<app-acount-menu></app-acount-menu>