<div class="notification">
    <header class="notificationHeader" (click)="goToArticle()">
        <span class="title">Nuevo: {{notification.data.title}}</span>
        <app-icon [iconName]="'mdi:text-box-plus-outline'"></app-icon>
    </header>
    <!-- <main class="notificationBody">
        <span class="title">
            Julian andres vargas
        </span>
        <p class="text">
            Ya hemos actualizado la informacion
        </p>
    </main>
    <footer class="notificationFooter">
        <span>Hace un dia</span>
    </footer> -->
</div>