<div class="drawer" *ngIf="state.sideSheetOpen$ | async" (click)="state.toogleSideSheet()">
    
</div>
<div class="scroll">
    <div  class="menuSection">
        <h2 class="headerTitle">{{userName}}</h2>
        <h5 class="headerSubtitle">{{rol}}</h5>
        <div class="headerDataBaseSelector" *ngIf="!changePcrc">
            <span>{{(state.selectedCliente$ | async)?.cliente }} / {{(state.selectedPcrc$ | async)?.pcrc }}</span>
            <app-icon [iconName]="'mdi:database-search'" tooltip="Bases de conocimiento" placement="top" show-delay="500" (click)="changePcrc = true"></app-icon>
        </div>
        <div class="treeView" [hidden]="!changePcrc">
            <ng-scrollbar>
                <app-tree-view *ngIf="state.userPcrc$ | async" [data]="state.userPcrc$ | async" [child]="'pcrcs'" [childText]="'pcrc'" [dataText]="'cliente'" (onChildSeleccionado)="onPcrcSeleccionado($event); changePcrc = false"></app-tree-view>
            </ng-scrollbar>
        </div>
    </div>
    <div  class="menuSection" *appUserRoleIsIn="['publicador','admin','user']">
        
        <div class="tab" (click)="state.toogleSideSheet()" routerLinkActive="active" routerLink="/app/explore" ><app-icon [iconName]="'mdi:map-search-outline'" ></app-icon>Explorar</div>
        <div class="tab" (click)="state.toogleSideSheet()" routerLinkActive="active" routerLink="/app/news" ><app-icon [iconName]="'mdi:newspaper'"></app-icon>Noticias</div>
        <div class="tab"(click)="state.toogleSideSheet()"  routerLinkActive="active" routerLink="/app/favorites" ><app-icon [iconName]="'mdi:star'"></app-icon>Favoritos</div>
    </div>    
    <div  class="menuSection" *appUserRoleIsIn="['publicador','admin']">
        <h3 class="sectionTitle">Edicion</h3>
        <div class="tab" (click)="state.toogleSideSheet()" routerLinkActive="active" routerLink="/app/edicion" ><app-icon [iconName]="'mdi:file-document-edit-outline'"></app-icon>Articulos</div>
        <div class="tab" (click)="state.toogleSideSheet()" routerLinkActive="active" routerLink="/app/newseditor" ><app-icon [iconName]="'mdi:newspaper-plus'"></app-icon>Noticias</div>
    </div>
    <div  class="menuSection" *appUserRoleIsIn="['admin']">
        <h3 class="sectionTitle">Administracion</h3>
        <div class="tab" (click)="state.toogleSideSheet()" routerLinkActive="active" routerLink="/app/users" ><app-icon [iconName]="'mdi:account-group'"></app-icon>Usuarios</div>
        <div class="tab" (click)="state.toogleSideSheet()" routerLinkActive="active" routerLink="/app/reports" ><app-icon [iconName]="'mdi:finance'"></app-icon>Indicadores</div>
    </div>
    <div  class="menuSection">
        <div class="tab" (click)="logOut()" *ngIf="!logoutLoading"><app-icon [iconName]="'mdi:logout'"></app-icon>Salir</div>
        <app-spinner *ngIf="logoutLoading"></app-spinner>
    </div>             
</div>