:host{
    width: 20vw;
    height: 100%;
    background-color: white;
    box-shadow: var(--shadow5);
    position: fixed;
    right: -20vw;
    top: 0;
    padding: 2rem;
    transition: right ease-in-out 300ms;    
}

:host.open{
    right: 0;
}

.treeView{
    width: 100%;
    height: 320px;
    border: 1px solid var(--terciaryDark);
}

.drawer{
    width: 80vw;
    height: 100%;
    background-color: transparent;
    position: fixed;
    right: 20vw;
    top: 0;
}