:host{
    width: 25vw;
    height: 100%;
    background-color: white;
    box-shadow: var(--shadow5);
    position: fixed;
    left: -25vw;
    top: 0;
    padding: 2rem;
    transition: left ease-in-out 300ms;   
    z-index: 1000;
}

:host.open{
    left: 0;
}

.sheet{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.treeView{
    width: 100%;
    height: 320px;
    border: 1px solid var(--terciaryDark);
}

.drawer{
    width: 75vw;
    height: 100%;
    background-color: transparent;
    position: fixed;
    left: 25vw;
    top: 0;
}

.logOut{
    display: flex;
    padding: 1.5rem 2rem ;
    justify-content: center;
    align-items: center;    
    margin: -2rem;
    background-color: var(--terciaryDark);
    font-weight: 700;
    color: var(--secondaryText);
}

.logOut:hover{
    color: var(--primary);
    cursor: pointer;
}

.separator{
    flex-grow: 1;
}