<div class="comment">

    <div class="title">
        <span class="text">{{comment.username}}</span>
        <app-icon class="replyIcon" [iconName]="'mdi:reply'" (click)="replyMode = !replyMode" *ngIf="!replyMode">
        </app-icon>
    </div>

    <div class="content">
        {{comment.text}}
    </div>
    <div class="footer">
        {{gethumanTime(comment.publicationDate)}}
    </div>

    <div class="inputArea_container" *ngIf="replyMode">
        <div class="inputArea">
            <app-icon class="iconPicker" [iconName]="'mdi:emoticon-tongue-outline'" (click)="emojiMode = !emojiMode">
            </app-icon>
            <div class="inputScroll">
                <textarea autosize class="textareaInput" #input placeholder="Comentario" [maxLength]="150"></textarea>
            </div>
            <app-icon class="sendIcon" [iconName]="'mdi:send'" (click)="sendComment()" *ngIf="input.value.length >=3">
            </app-icon>
        </div>
        <emoji-mart [hideObsolete]="true" [totalFrequentLines]="2" [emojiSize]="24" [color]="'#039be5'" [isNative]="true" (emojiSelect)="iconoSeleccionado($event);emojiMode = false" *ngIf="emojiMode">
        </emoji-mart>
        <span class="lenghtIndicator">
            {{input.value.length}}/150
        </span>
    </div>

    <div class="responseList" *ngIf="comment.replies">
        <div class="comment" *ngFor="let reply of comment.replies">
            <div class="title">
                <span class="text">{{reply.username}}</span>
            </div>
            <div class="content">
                {{reply.text}}
            </div>
            <div class="footer">
                {{gethumanTime(reply.publicationDate)}}
            </div>
        </div>
    </div>
</div>