:host{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3.5rem 42rem;
    overflow-x: hidden;
}

.dafaultMessage{
    margin: 1rem;
}



.list{
    overflow-y: scroll;
    margin-right: -1.1rem;
    padding: .1rem;
}