
:host{
    padding-right: 1rem;
}

:host .acount{
    color: white;  
    transition-delay: 50ms;
    z-index: 3;
}


:host .acount:hover, :host:hover .acount{
    color: var(--primaryText) !important;
    cursor: default;
    pointer-events: none;
}

:host .container{
    height: 0rem;
    width: 0rem;
}
:host .container .acount{
    float: right;
}

:host:hover > .container , :host .container:hover{
    display: inline-block;
    height: 15rem;
    width: 15rem;   
    background-color: white;
    box-shadow: var(--shadow2);
    z-index: 1;
    margin-top: -.5rem;
    padding: .5rem 1rem; 
    border-radius: 3px;
    position: fixed;
    right: calc(0% + 1rem);
}

:host .container:hover *{
    display: inline-block;    
    color: var(--primaryText);
}

:host .container *{
    color: transparent;
    display: none;
    transition-delay: 150ms;
}

:host .container:hover .nombre{    
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primaryText);
    margin-top: .25rem;
}

.dropDownSelect{
    width: 100%;
    font-family: inherit;
    color: inherit;
    padding: .5rem;
    background-color: white;
    border-radius: 3px;
    border: 1px solid var(--primary);
    outline: inherit;
}

.dropDownSelect:hover{
    border-radius: 3px 3px 0 0;
}

 .dropDownSelect{
    margin-bottom: .5rem;
}