<i class="material-icons acount">person_pin</i>
<div class="container">
    <i class="material-icons acount">person_pin</i>
    <h4 class="nombre">{{userService.usuario.name}}</h4>
    <select class="dropDownSelect" (change)="changeLine(selectedLine)" [(ngModel)]="selectedLine">
        <option *ngFor="let line of lines" [ngValue]="line">{{ line.name }}</option>
    </select>

    <select class="dropDownSelect" (change)="changeSubLine(selectedSubLine)" [(ngModel)]="selectedSubLine"
        *ngIf="selectedLine">
        <option *ngFor="let subLine of selectedLine.sublines" [ngValue]="subLine">{{subLine.name}}</option>
    </select>
</div>