<header class="header">
    <h4 class="title">{{line.name}}</h4>

    <app-icon [iconName]=" desplegado ? 'mdi:arrow-up-drop-circle-outline' : 'mdi:arrow-down-drop-circle-outline'" (click)="desplegado = !desplegado" *ngIf="line.sublines.length"></app-icon>

</header>

<div class="body" [ngClass]="{'desplegado': desplegado}">
    <header class="header" *ngFor="let subline of line.sublines">
        <h4 class="title" *ngIf="!newsublineMode">{{subline.name}}</h4>
        <app-icon class="editIcon" [iconName]="'mdi:account-off'" *ngIf="!newsublineMode" (click)="deleteSubline(subline.id)"></app-icon>
    </header>
</div>
