<header class="header">
    <h4 class="title">{{line.name}}</h4>
    <i class="material-icons editButton" (click)="deleteLine()">delete</i>
    <i class="material-icons" *ngIf="!desplegado && line.sublines.length && !newlineMode"
        (click)="desplegado = true">arrow_drop_down</i>
    <i class="material-icons" *ngIf="desplegado && line.sublines.length && !newlineMode"
        (click)="desplegado = false">arrow_drop_up</i>
</header>

<div class="body" [ngClass]="{'desplegado': desplegado}">
    <header class="header" *ngFor="let subline of line.sublines">
        <h4 class="title" *ngIf="!newsublineMode">{{subline.name}}</h4>
        <i class="material-icons editButton" *ngIf="!newsublineMode" (click)="deleteSubline(subline.id)">delete</i>
    </header>
</div>