<div class="img_header" #imgHeader>
    <a class="resumme" #resume [routerLink]="['/app/articles/',Article.id]">
        <img *ngIf="imageSrc" [src]="imageSrc">
    </a>
</div>
<a class="title" [routerLink]="['/app/articles/',Article.id]" [state]="Article">{{Article.title}}</a>
<div class="article_body">

    <a class="resumme" #resume [routerLink]="['/app/articles/',Article.id]">
        <p *ngFor="let frase of resumen" [innerHTML]="frase"></p>
    </a>
    <div class="resume_lists" #resumeLists>
        
    </div>
    <div class="links">
        <a *ngFor="let link of links" [href]="link.href" target="'_blank'">{{link.text}}</a>
    </div>
</div>
<app-file-prev class="ml1 mr1 mb.5" *ngFor="let file of Article.attached" [fileName]="file" [articleId]="Article.id" [mode]="'notDelete'"> </app-file-prev>
<div class="tagList">
    <div class="tag" *ngFor="let tag of Article.tags" (click)="searchTag(tag)">{{ tag }}</div>
</div>
<div class="footer" *ngIf="Article">
    <app-icon *appUserRoleIsIn="['publicador','admin']" class="socialButton" (click)="goToArticleEdition()" [iconName]="'mdi:pencil'" tooltip="Editar articulo" placement="top" show-delay="500"> </app-icon>
    <app-icon *ngIf="Article.type != 'news'" class="socialButton favoriteIcon" (click)="addToFavorites()" (mouseover)="isFavoriteHover = true" (mouseout)="isFavoriteHover = false" [iconName]="'mdi:star'"  [ngClass]="{ favorite : isFavorite()}" tooltip="Agregar a favoritos" placement="top" show-delay="500" > </app-icon>
    <span *ngIf="Article.type != 'news'">{{Article.favorites.length}}</span>
    <app-icon class="socialButton" [iconName]="isLike() ? 'mdi:thumb-up' : 'mdi:thumb-up-outline'" (click)="addLike()" tooltip="Útil" placement="top" show-delay="500"> </app-icon>
    <span>{{Article.likes.length}}</span>
    <app-icon class="socialButton" [iconName]="isDisLike() ? 'mdi:thumb-down' : 'mdi:thumb-down-outline'" (click)="addDisLike()" tooltip="No útil" placement="top" show-delay="500"> </app-icon>
    <span>{{Article.disLikes.length}}</span>
</div>