<div class="img_header" #imgHeader>
</div>
<a class="title" [routerLink]="['/app/articles/',Article.id]" [state]="Article">{{Article.title}}</a>
<div class="article_body">

    <div class="resumme" #resume>
    
    </div>
    <div class="resume_lists" #resumeLists>
        
    </div>
    <div class="links" #links>

    </div>
</div>
<div class="dissmissList" *ngIf="hasLongList">
    <i class="material-icons" *ngIf="listDissmised" (click)="expandList()">expand_more</i>
    <i class="material-icons" *ngIf="!listDissmised" (click)="dismissList()">expand_less</i>
</div>
<div class="footer">
    <div class="tags">
        <a class="tag" href="app/search?query=[TagDePrueba]">TagDePrueba</a>
        <a class="tag" href="app/search?query=[TagPrueba]">TagPrueba</a>
        <a class="tag" href="app/search?query=[TagDefault]">TagDefault</a>
        <a class="tag" href="app/search?query=[Tag2]">Tag2</a>
        <a class="tag" href="app/search?query=[Tag12234]">Tag12234</a>
    </div>
    <div class="votes">
        <i class="material-icons">thumb_up</i>
        <span class="voteCount">17</span>        
        <i class="material-icons">thumb_down</i>
        <span class="voteCount">17</span>
    </div>
</div>
