<div class="img_header" #imgHeader>
    <img *ngIf="imageSrc" [src]="imageSrc">
</div>
<a class="title" [routerLink]="['/app/articles/',Article.id]" [state]="Article">{{Article.title}}</a>
<div class="article_body">

    <div class="resumme" #resume>
        <p *ngFor="let frase of resumen" [innerHTML]="frase"></p>
    </div>
    <div class="resume_lists" #resumeLists>
        
    </div>
    <div class="links">
        <a *ngFor="let link of links" [href]="link.href" target="'_blank'">{{link.text}}</a>
    </div>
</div>
<div class="footer" *ngIf="Article">
        <app-icon class="socialButton favoriteIcon" (click)="addToFavorites()" (mouseover)="isFavoriteHover = true" (mouseout)="isFavoriteHover = false" [iconName]="favoriteIcon()"  [ngClass]="{ favorite : isFavorite()}"> </app-icon>
        <span>{{Article.favorites.length}}</span>
        <app-icon class="socialButton" [iconName]="isLike() ? 'mdi:thumb-up' : 'mdi:thumb-up-outline'" (click)="addLike()" [title]="'Publicado el ' + publicationDate"> </app-icon>
        <span>{{Article.likes.length}}</span>
        <app-icon class="socialButton" [iconName]="isDisLike() ? 'mdi:thumb-down' : 'mdi:thumb-down-outline'" (click)="addDisLike()" [title]="'Publicado el ' + publicationDate"> </app-icon>
        <span>{{Article.disLikes.length}}</span>
</div>