<div class="imageBackGround">

    <div class="formContainer ">

        <div class="acrylic">
        </div>
        <div class="formActions">
            <div class="logo">
                <img src="/assets/Imagotipo.png">
            </div>
            
            <div class="username">
                <app-icon [iconName]="'mdi:account'"></app-icon>
                <input type="text" placeholder="Usuario de red" #usuario>
            </div>

            <div class="password">
                <app-icon [iconName]="'mdi:lock'"></app-icon>
                <input type="password" placeholder="Contraseña" #password>
            </div>

            <app-slide-captcha (validado)="captchaResolved($event)"></app-slide-captcha>

            <div class="errorMessage mt1" *ngIf="isLoginError">
                <strong>Error:</strong><span>{{isMessage}}</span>
            </div>

            <div class="errorMessage mt1" *ngIf="isBotError">
                <strong>Error:</strong><span> Verifica de nuevo el captcha</span>
            </div>

        </div>
    </div>   
</div>