<div class="selector">
    <div class="tab " (click)="listMode = 'news'" [ngClass]="{active: listMode == 'news'}">
        <app-icon class="mr.5" [iconName]="'mdi:newspaper'"></app-icon> Noticias
    </div>
    <h3 class="separator">  |  </h3>
    <div class="tab" (click)="listMode = 'draft'" [ngClass]="{active: listMode == 'draft'}">
        <app-icon class="mr.5" [iconName]="'mdi:archive'"></app-icon>
         Borradores
    </div>
</div>
<div class="list" >
    <app-news-list-editable [mode]="listMode" [selectedSubline]="(state.selectedPcrc$ | async).id_dp_pcrc" (onAddNews)="onAddNews()" (onNewsEdit)="onNewsEdit($event)" (onNewsDeleted)="onNewsDeleted($event)">
    </app-news-list-editable>
</div>
<div class="articleTitle" >
    <input class="articleTitle_input" type="text" placeholder="Titulo de la noticia" #articleTitle>
</div>
<div class="editor" >
    <app-rich-text-editor></app-rich-text-editor>
</div>
<div class="footer">
    <app-button #saveAsDraftButton *ngIf="!!!newsOnEdition || newsOnEdition.state == 'archived'" [iconName]="'mdi:archive'" [buttonText]="'Guardar borrador'"></app-button>
    <app-spinner *ngIf="saveDraftNewsSpinner"></app-spinner>
    <app-button #publishNewsButton class="ml.5" [iconName]="'mdi:publish'" [buttonText]="newsOnEdition && newsOnEdition.state == 'published' ? 'Actualizar':'Publicar'"></app-button>
    <app-spinner *ngIf="postNewsSpinner"></app-spinner>
</div>