
<div class="articleContainer">
    <header class="header" *ngIf="article">
        <app-icon [iconName]="'mdi:arrow-left'" (click)="goBack()"> </app-icon>
        <h4 class="title">{{article.title}}</h4>
        <a [routerLink]="['/fullScreen/',article.id]">
            <app-icon [iconName]="'mdi:fullscreen'"> </app-icon>
        </a>
    </header>
    <ng-scrollbar class="content" >
        <div #content>
            <app-rteview></app-rteview>
        </div>
    </ng-scrollbar>
    <div class="footer" *ngIf="article">
        <app-icon [iconName]="'mdi:help-circle-outline'" [title]="'Publicado el ' + publicationDate"></app-icon>
        <span  class="leyend">Ultima modificacion el: {{modificationDate}}</span>
        <app-icon class="socialButton favoriteIcon" (click)="addToFavorites()" (mouseover)="isFavoriteHover = true" (mouseout)="isFavoriteHover = false" [iconName]="favoriteIcon()"  [ngClass]="{ favorite : isFavorite()}"> </app-icon>
        <span>{{article.favorites.length}}</span>
        <app-icon class="socialButton" [iconName]="isLike() ? 'mdi:thumb-up' : 'mdi:thumb-up-outline'" (click)="addLike()" [title]="'Publicado el ' + publicationDate"> </app-icon>
        <span>{{article.likes.length}}</span>
        <app-icon class="socialButton" [iconName]="isDisLike() ? 'mdi:thumb-down' : 'mdi:thumb-down-outline'" (click)="addDisLike()" [title]="'Publicado el ' + publicationDate"> </app-icon>
        <span>{{article.disLikes.length}}</span>
    </div>
</div>
<div class="index" *ngIf="article">
    <div class="adjuntosButton" (click)="adjuntosMode = true" *ngIf="!adjuntosMode">
        <app-icon class="mr.5" [iconName]="'mdi:file-multiple-outline'"></app-icon>
        <h4>{{article.attached.length}} adjuntos</h4>
    </div>
    <div class="adjuntosButton" (click)="adjuntosMode = false" *ngIf="adjuntosMode">
        <app-icon class="mr.5" [iconName]="'mdi:format-list-bulleted'"></app-icon>
        <h4>Indice</h4>
    </div>
    <div class="fileList" *ngIf="adjuntosMode">
        <app-file-prev *ngFor="let file of article.attached" [fileName]="file" [articleId]="article.id" [mode]="'notDelete'"></app-file-prev>
    </div>
    <div class="indice" *ngIf="!adjuntosMode">
        <div *ngFor="let el of indexElements; index as i" [innerHTML]="el.innerHTML" [ngClass]="[el.tagName, calculateActive(i)]" (click)="scrollTo(el)"></div>
    </div>
</div>
<div class="comments" *ngIf="article">
        <app-comment-list [articleId]="article.id"></app-comment-list>
</div>