<header class="header">
    <app-text-input [placeholder]="'Nombre linea'" [initialText]="line.name" *ngIf="newlineMode" (onConfirm)="updateLine($event); newlineMode = false" (onCancel)="newlineMode = false"> </app-text-input>
    <h4 class="title">{{line.name}}</h4>
    <i class="material-icons editButton" (click)="newlineMode = true">edit</i>
    <i class="material-icons editButton" (click)="deleteLine()">delete</i>
    <i class="material-icons editButton" (click)="newsublineMode = true">add_circle</i>
    <i class="material-icons" *ngIf="!desplegado && line.sublines.length && !newlineMode" (click)="desplegado = true">arrow_drop_down</i>
    <i class="material-icons" *ngIf="desplegado && line.sublines.length && !newlineMode" (click)="desplegado = false">arrow_drop_up</i>
</header>

<div class="body" [ngClass]="{'desplegado': desplegado}">
    <app-text-input [placeholder]="'Nombre nueva sublinea'" *ngIf="newsublineMode"
        (onConfirm)="createSubLine($event);newsublineMode = false" (onCancel)="newsublineMode = false">
    </app-text-input>
    <header class="header" *ngFor="let subline of line.sublines">
        <app-text-input [placeholder]="'Nombre sublinea'" [initialText]="subline.name" *ngIf="subLineOnEdition == subline.id" (onConfirm)="updateSubline(subline.id, $event); subLineOnEdition = ''" (onCancel)="subLineOnEdition = ''"></app-text-input>
        <h4 class="title" *ngIf="!newsublineMode" (click)="selectSubline(subline.id)">{{subline.name}}</h4>
        <i class="material-icons editButton" (click)="newSublineMode = true; subLineOnEdition = subline.id" *ngIf="!newsublineMode">edit</i>
        <i class="material-icons editButton" *ngIf="!newsublineMode" (click)="deleteSubline(subline.id)">delete</i>
    </header>
</div>