:host{
    box-shadow: var(--shadow3);
}

.iconPicker{    
    box-shadow: var(--shadow3);
    border-radius: 3px;
}

.searchBox{
    display: flex;
    align-items: center;
    padding: .5rem;
    border-bottom: 1px solid lightgray;
}

.searchInput{
    width: 100%;
    border:0;
    padding: .5rem;
    outline: none !important;
    background-color: transparent;
}

.iconify{
    font-size: 1.5rem;
}

.iconsList{
    padding: .5rem;
}