:host{
    background-color: red;
    box-shadow: var(--shadow3);
    margin: 0;
    padding: 0;
    
}

.iconPicker .searchBox{
    display: flex;
}

.iconPicker .searchInput{
    border: 0;
    background-color: white;
    padding: .5rem;    
    flex-grow: 1;
}