<div class="categoriesContainer">
    <ng-scrollbar>
        <div class="exporarSectionTab mb1" (click)="changeModeTo('update')" [ngClass]="{ active: mode == 'update'}">
            <app-icon [iconName]="'mdi:update'" class="mr1"></app-icon>
            <h5>Últimas actualizaciones</h5>
        </div>
        <div class="exporarSectionTab mb1" (click)="changeModeTo('top')" [ngClass]="{ active: mode == 'top'}">
            <app-icon [iconName]="'mdi:seal'" class="mr1"></app-icon>
            <h5>Top de artículos</h5>
        </div>
        <div class="ma.5 mr1">
            <app-categories [mode]="'explore'" (onCategorySelected)="categoriaSeleccionada($event)"></app-categories>
        </div>
    </ng-scrollbar>
</div>
<div infiniteScroll
    (scrolled)="onScroll($event)"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    [scrollWindow]="false"
    class="searchContainer">
    <h4 *ngIf="searchError">Se ha producido un error 😕, intentaremos de nuevo en {{searchErrorMessage}}s.</h4>
    <h4 *ngIf="error$ | async">Se ha producido un error 😕, intentalo mas tarde.</h4>
    <app-article-list [articles]="articles" [placeholders]="placeholders"></app-article-list>
</div>