:host{
    height: 100% !important;
    width: 100%;

    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto;
    column-gap: 0;
}

.categoriesContainer{
    padding-left: 3rem;
    padding-top: 3rem;
}

.articles_container{
    padding-top: 3rem;
    overflow-y: scroll;
}



