<div class="categoriesContainer">
    <ng-scrollbar>
        <div class="exporarSectionTab mb1" (click)="changeModeTo('update')" [ngClass]="{ active: mode == 'update'}">
            <app-icon [iconName]="'mdi:update'" class="mr1"></app-icon>
            <h5>Ultimas actualizaciones</h5>
        </div>
        <div class="exporarSectionTab mb1" (click)="changeModeTo('top')" [ngClass]="{ active: mode == 'top'}">
            <app-icon [iconName]="'mdi:seal'" class="mr1"></app-icon>
            <h5>Top articulos</h5>
        </div>
        <div class="ma.5 mr1">
            <app-categories [mode]="'explore'" (onCategorySelected)="categoriaSeleccionada($event)"></app-categories>
        </div>
    </ng-scrollbar>
</div>
<div infiniteScroll
    (scrolled)="onScroll($event)"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000"
    [scrollWindow]="false"
    class="searchContainer">
    <app-article-list [articles]="articles" [placeholders]="placeholders"></app-article-list>
</div>