:host{
    height: 100% !important;
    width: 100%;
    display: flex;
}

.categoriesContainer{
    padding-left: 3rem;
    padding-top: 3rem;
    width: 25%;
}

.exporarSectionTab{
    display: flex;
    align-items: center;
    
}

.exporarSectionTab:hover, .exporarSectionTab.active{
    cursor: pointer;
    color: var(--primary);
}

.exporarSectionTab h5{
    margin: 0;
    font-size: 1rem;
    line-height: 1rem;
    
}

.searchContainer{
    width: 75%;
}
