<div class="verticalColumn">
    <h3 class="columnTitle">Categorias</h3>
    <app-categories-editor (onCategorySelected)="onCategorySelected($event)"></app-categories-editor>
</div>
<div class="verticalColumn" *ngIf="selectedCategory">
    <h3 class="columnTitle">Articulos</h3>
    <app-articles-editor-list [categorySelected]="selectedCategory" [state]="'published'"></app-articles-editor-list>
</div>
<div class="verticalColumn" *ngIf="selectedCategory">
    <h3 class="columnTitle">Borradores</h3>
    <app-articles-editor-list [categorySelected]="selectedCategory" [state]="'archived'"></app-articles-editor-list>
</div>