<h4 *ngIf="searchError" class="ma2">Se ha producido un error 😕, intentaremos de nuevo en {{searchErrorMessage}}s.</h4>
<h4 *ngIf="error$ | async" class="ma2">Se ha producido un error 😕, intentalo mas tarde.</h4>


<div class="newsScroll"
    infiniteScroll
    (scrolled)="onScroll($event)"        
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="1000" 
    [scrollWindow]="false">

    <div class="timeLapse">
        <ngx-masonry [options]="masonryOptions" [updateLayout]="updateMasonryLayout">
            <app-article (imageLoaded)="updateMasonryLayout = !updateMasonryLayout" ngxMasonryItem  class="masonry-item" *ngFor="let news of news" [Article]="news"></app-article>
            <app-articleplaceholder ngxMasonryItem  class="masonry-item" *ngFor="let placeholder of placeholders" [type]="'articulo'"> </app-articleplaceholder>
        </ngx-masonry>
    </div>
</div>