<div class="optionsHeader">
    <app-search-input></app-search-input>
    <div class="separator"></div>
</div>
<ng-scrollbar>
    <div class="scroll ml.5 mr1 mt.5 mb2" *ngIf="state.userslist$ | loading | async as response " >
        <ng-template [ngIf]="response.state == 'finish'">
            <div class="user" *ngFor="let user of response.value" (click)="state.selectUser(user)">
                <h4 class="title">{{user.nombre}}</h4>
            </div>
        </ng-template>
        <ng-template [ngIf]="response.state == 'loading'" >
            ...Cargando
        </ng-template>
    </div>
</ng-scrollbar>